// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.
$img-path: '../images/';

// Colorsnpm
$white:      #fff !default;
$white-light: #f5f5f5!default;
$black: black;

// Size
$border-width: 1px;
$spacer: 1rem;