// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.
$img-path: '../images/';

// Colorsnpm
$white:      #fff !default;
$white-light: #f5f5f5!default;

$gray-10: #3c4658;
$gray: #ababab;
$gray-light: #dadde3;

$blue-sky: #00BFFF;
$blue-rio: #3399FF;

$purple: #3366FF;

$black: black;

// Size
$border-width: 1px;
$spacer: 1rem;