// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.
$img-path: '../images/';

// Colorsnpm
$white:      #fff !default;
$white-light: #f5f5f5!default;

$gray-10: #3c4658;
$gray-light: #dadde3;

$blue-sky: #00BFFF;

$black: black;

// Size
$border-width: 1px;
$spacer: 1rem;

// Animation
// Animation properties
$anim-width:    200px;
$anim-height:   250px;
$anim-duration: 4s;

// Splash properties
$splash-width:  $anim-width;
$splash-height: $anim-width / 2;
$splash-origin: $splash-height / 2;
$water-level:   $splash-origin;

// Drip properties
$drip-size:     15px;
$drip-pos:      ($splash-width / 2) - ($drip-size / 2);
$drip-rebound:  40px;
$drip-re-size:  5px;
$drip-re-pos:   ($splash-width / 2) - ($drip-re-size / 2);

// Colours
$c-drip:        #FFF;
$c-splash:      #FFF;
$c-bg:          #43A2CE;