.selected {
  color: $black!important;
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: .5*$spacer!important;
  padding-left: .5$spacer !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0;
}